@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: #a5a5a5;
    box-sizing: border-box;
  }
}

@layer components {
  .specialBg {
    @apply text-[42px] text-white z-10 rounded-[20px] bg-white/[0.08] backdrop-blur-[12px] max-h-[80px] flex justify-center items-center py-[16px] max-w-[317px] px-[60px];
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.09);
  }

  .borderGradient {
    background: linear-gradient(#000 0 0) padding-box,
      linear-gradient(
          150deg,
          rgba(255, 255, 255, 0.34) 10%,
          rgba(255, 255, 255, 0)
        )
        border-box;
    color: #313149;
    border: 2px solid transparent;
    border-radius: 22px;
    display: inline-block;
  }

  .navStyle {
    @apply bg-white/[0.075] backdrop-blur-[12px] max-h-[80px];
    box-shadow: inset 0 -7px 16px rgba(255, 255, 255, 0.09);
  }

  .navBorder {
    background: linear-gradient(#000 0 0) padding-box,
      linear-gradient(
          150deg,
          rgba(255, 255, 255, 0.34) 28%,
          rgba(255, 255, 255, 0)
        )
        border-box;
    color: #313149;
    border-bottom: 2px solid transparent;
    display: inline-block;
  }
}

/* loading css*/
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.animate-blink {
  animation: blink 1.5s infinite;
}
